 html {
     background-color: #282a36;
     overflow: hidden;
 }
 
 .section {
    background-color: #282a36;
 }

 .image {
     display: inline-flex;
     height: auto;
     width: 256px;
 }

 #name {
     color: #ff79c6;
 }

 #home {
     background-color: #373a59;
     padding-bottom: 100px;
 }

 .subtitle {
     color: white;
 }

 #btngit {
     color: black;
 }

 .footer {
     background-color: #282a36;
     color: white;
     padding: 28px 28px 28px 28px;
 }